/database/bildiridb.lck
/database/bildiridb.log
/database/bildiridb.properties
/database/bildiridb.script
*.orig
/pom.xml.orig
/.gitignore.orig
/target/test-classes/log4j.xml
/target/classes/log4j.xml
*.class

# Package Files #
*.jar
*.war
*.ear
